@charset "UTF-8";
.keywordSearch__title{
    position: relative;
    font-size: 16px;
    margin-left: 30px;
    padding-top: 13px;
}
.keywordSearch__title:before{
    position: absolute;
    content: url(../images/icon_keyword.png);
    top: 10px;
    left: -25px;
}
.keywordSearch__contents{
    clear: left;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 732px;
    height: 59px;
    margin-top: 12px;
    margin-left: 4px;
}
.keywordSearch__form{
    margin-left: 10px;
}
.keywordSearch__input{
    margin-top: 10px;
    border: 1px solid #AAAAAA;
    background:none;
    width: 285px;
    height: 39px;
    border-radius: 5px;
}
.keywordSearch__input::placeholder{
    color: #999999;
    padding-left: 10px;
}
.keywordSearch__button{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    border: solid 1px #0160C3;
    background-color: #046FDD;
    border-radius: 5px;
    width: 106px;
    height: 36px;
    margin-left: 14px;
}